body{
    padding: 0;
    margin: 0;
}

/*Playing screen*/
#container{
margin-left: 25px;
height: 600px;
}

/*Playing board*/
#game_board{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
    perspective: 1200px;
    background: transparent;

}
.card-inner{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    transition:all 0.75s ease;
    transform-style: preserve-3d;    
    position:absolute;
}
.card{
    width: 150px;
    height: 190px;
    display: flex;
    margin-left: auto;
    background-size: cover;
}
.card_match{
    border: 1px solid red;
}
.card_back{
    background-image: url('../images/mona.png');
}
.card_front0{
    background-image: url('../images/vaccine.png');
}
.card_front1{
    background-image: url('../images/nurses.png');
}
.card_front2{
    background-image: url('../images/doctors.png');
}
.card_front3{
    background-image: url('../images/distance.png');
}
.card_front4{
    background-image: url('../images/corona-sign.png');
}
.card_front5{
    background-image: url('../images/stay_at_home.png');
}
.card_front6{
    background-image: url('../images/wash_hands.png');
}
.card_front7{
    background-color: yellow;
}
.card_front8{
    background-color: aqua;
}
.card_front9{
    background-color: red;    
}