body{
    padding: 0;
    margin: 0;
    background-image: url(/images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Playing screen*/
#container{
    margin-left: 25px;
    height: 600px;
    display: flex;
}

/*Score Board*/
.score_board {
    width: auto;
    height: auto;
    position: absolute;
}

/*Playing board*/
#game_board{
    display: flex;
    margin-top: 20px;
    margin-left: 330px;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
    perspective: 1200px;
    background: transparent;

}
.card-inner{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    transition:all 0.75s ease;
    transform-style: preserve-3d;    
    position:absolute;
}
.card{
    width: 150px;
    height: 190px;
    display: flex;
    margin-left: auto;
    background-size: cover;
    transition: 0.3s;
    cursor: pointer;
    
}
.card_match{
    border: 1px solid red;
}
.card_back{
    background-image: url('../images/mona.png');
    width: 150px;
    height: 190px;
    transition: 0.3s;
    cursor: pointer;
}
.card_front0{
    background-image: url('../images/vaccine.png');
}
.card_front1{
    background-image: url('../images/nurses.png');
}
.card_front2{
    background-image: url('../images/doctors.png');
}
.card_front3{
    background-image: url('../images/distance.png');
}
.card_front4{
    background-image: url('../images/corona-sign.png');
}
.card_front5{
    background-image: url('../images/stay_at_home.png');
}
.card_front6{
    background-image: url('../images/wash_hands.png');
}
.card_front7{
    background-image: url('../images/world.png');
}
.card_front8{
    background-image: url('../images/girl.png');
}
.card_front9{
    background-image: url('../images/mask.png');    
}